body {
  font-family: 'Balsamiq Sans', cursive;
  min-height:100vh; margin:0; position:relative;
}

body::after {
  content: '';
  display: block;
  height: 100px; /* Set same as footer's height */
}

