


:root{
  --primary: #ff5632;
  --secondry: #2b2727;
  --poppins: 'Poppins'
}




.navigation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links ul {
  display: flex;
}
.nav_links ul li {
  margin: 0.5rem;
  list-style: none;
}
.link {
  text-decoration: none;
  color: black;
}
.about_image {
  display: block;
  margin: auto;
  width: 30rem;
}

.loginDiv {
  text-align: center;
}

.footerWrapper {
  background-color: var(--secondry);
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-bar {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#loginbtn {
  background: var(--primary);
  border: 2px solid var(--secondry);

}



/* Hero Section styles */


.hero-section {
  display: flex;
  flex-direction: row;
  background: #f5f5f5;
  margin-bottom: 5rem;
  overflow: hidden;
  padding: 0rem 1.2rem;
  justify-content: space-between;
}

.content-cont {
  margin: auto 0;
  text-align: left;
 
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  color: var(--primary);
}

.hero-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondry);
  font-family:  Helvetica, sans-serif;
}

.startbtn {
  background: #f5f5f5;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 0.5rem 2rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.startbtn:hover {
  background: var(--primary);
  border: 2px solid var(--secondry);
  color: var(--secondry);
}

#loginbtnlink {
  color: var(--primary);
  text-decoration: none;

}


#loginbtnlink:hover {
  color: var(--secondry);
  text-decoration: none;
}
.img-cont img {
  width: 500px;
  height: 500px;
}

/* second section styles */

.studytogether {
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
  justify-content: space-between;
  align-items: center;
}

#together {
  width: 250px;
  height: 400px;
  margin-right: 3rem;
}

.section-two-cont h2 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    color: var(--primary);
    text-transform: capitalize;
}

.section-two-cont p {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--secondry);
}