


:root{
  --primary: #ff5632;
  --secondry: #2b2727;
  --poppins: 'Poppins'
}




.navigation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links ul {
  display: flex;
}
.nav_links ul li {
  margin: 0.5rem;
  list-style: none;
}
.link {
  text-decoration: none;
  color: black;
}
.about_image {
  display: block;
  margin: auto;
  width: 30rem;
}

.loginDiv {
  text-align: center;
}

.footerWrapper {
  background-color: var(--secondry);
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#nav-bar {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#loginbtn {
  background: var(--primary);
  border: 2px solid var(--secondry);

}
